<link rel="stylesheet" href="bemvindo.component.css">
<p class="txt-t1">Bem-vindo(a) !<br></p>
<p class="txt-normal">Neste aplicativo você poderá cadastrar, excluir, visualizar ou atualizar produtos
que estão armazenados na sua despensa. <br></p>
<p class="txt-normal">Em cada produto, terá informações como: a categoria, a marca, a quantidade armazenada,
o local que está armazenado, a data de validade e se o produto está aberto ou fechado. <br></p>
<p class="txt-normal">Basta clicar no botão que desejar e começar a interagir com seu aplicativo!</p>
